@{
    ViewData["Title"] = "welcome";
}

<div class="wrap">
    <canvas id="bubble"></canvas>
    <div class="overlay-text">
        <h1>welcome to runners digest</h1>

        <div class="spacer"></div>

        <p>Running is not just a hobby; it's a journey of self-discovery and personal challenge. Each step offers a moment of clarity and freedom, allowing runners to escape the daily grind and connect deeply with themselves. It’s a simple activity that requires nothing more than a pair of shoes and the open road, yet it delivers profound benefits—improving physical health, clearing the mind, and boosting overall well-being.</p>
        <br />
		<img src="~/img/img1.webp" height="300"/>
        <br />
        <br />
        <p>Moreover, the running community is a vibrant tapestry of individuals sharing the same passion. Participating in local races or joining running groups creates a sense of belonging and provides a source of motivation and inspiration. For me, running is an indispensable part of life, offering both solitude and solidarity, and it remains a constant source of joy and accomplishment.</p>
        <br />
      
        <img src="~/img/img2.webp" height="300" />
	</div>
</div>




