@{
    ViewData["Title"] = "Hobby";
}
<div class="privacy-wrap unique-privacy-style">
    <div class="overlay-text">
        <div class="spacer2"></div>
        <h1>Tutoring Calculator</h1>
        <label for="hours">Number of Hours:</label>
        <input type="number" id="hours" min="0">
        <br><br>
        <label for="hourly-rate">Hourly Rate:</label>
        <input type="text" id="hourly-rate" value="$699" readonly>
        <br><br>
        <button id="calculate-btn">Calculate Total</button>
        <br><br>
        <label for="total">Total:</label>
        <input type="text" id="total" readonly>
    </div>
</div>